@model EmpRefPortal.Models.OpeningDTO

@{
    ViewData["Title"] = "EditOpening";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var BadReq = TempData["editBadReq"] as string;
    var Conflict = TempData["editConflict"] as string;
    var server = TempData["editError"] as string;
}

<style>
    .required-symbol{
        color:red;
    }
</style>

@if(!string.IsNullOrEmpty(BadReq))
{
    <script>
        var error = @Html.Raw(Json.Serialize(BadReq));
        alert(error);
    </script>
}

@if (!string.IsNullOrEmpty(Conflict))
{
    <script>
        var error = @Html.Raw(Json.Serialize(Conflict));
        alert(error);
    </script>
}

@if (!string.IsNullOrEmpty(server))
{
    <script>
        var error = @Html.Raw(Json.Serialize(server));
        alert(error);
    </script>
}

<h1>Edit Opening</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditOpening">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label">Role<span class="required-symbol">*</span></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleLocation" class="control-label">
                    Location<span class="required-symbol">*</span>
                </label>
                <input asp-for="RoleLocation" class="form-control" />
                <span asp-validation-for="RoleLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinExp" class="control-label">Minimum Experience<span class="required-symbol">*</span></label>
                <input asp-for="MinExp" class="form-control" />
                <span asp-validation-for="MinExp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Availability" class="control-label">Availability<span class="required-symbol">*</span></label>
                <input asp-for="Availability" class="form-control" />
                <span asp-validation-for="Availability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description<span class="required-symbol">*</span></label>
                <textarea asp-for="Description" class="form-control" rows="4" cols="50" placeholder="Enter the Description Here"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Applied" class="control-label" type">Applied Users<span class="required-symbol">*</span></label>
                <input asp-for="Applied" class="form-control"></input>
                <span asp-validation-for="Applied" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary"/>
                <a asp-controller="Admin" asp-action="AdminOpenings" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

