@model Data_Access_Layer.Models.DTO.ReferralDTO

@{
    ViewData["Title"] = "CreateReferral";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var BadReq = TempData["createBadReq"] as string;
    var Conflict = TempData["createConflict"] as string;
    var username = Context.Request.Cookies["Username"];
    var userRole = Context.Request.Cookies["UserRole"];
    var appliedRole = TempData["Rolename"];
}

<style>
    .required-symbol{
        color: red;
    }
</style>

@if(!string.IsNullOrEmpty(BadReq))
{
    <script>
        var error = @Html.Raw(Json.Serialize(BadReq));
        alert(error);
    </script>
}

@if (!string.IsNullOrEmpty(Conflict))
{
    <script>
        var error = @Html.Raw(Json.Serialize(Conflict));
        alert(error);
    </script>
}

<h1>Create Referral</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateReferral">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ForRole" class="control-label">For Role<span class="required-symbol">*</span></label>
                <input asp-for="ForRole" class="form-control" readonly value="@appliedRole" />
            </div>
            <div class="form-group">
                <label asp-for="CandidateName" class="control-label">Candidate Name<span class="required-symbol">*</span></label>
                <input asp-for="CandidateName" class="form-control" />
                <span asp-validation-for="CandidateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CandidateContact" class="control-label">Contact Details<span class="required-symbol">*</span></label>
                <input asp-for="CandidateContact" class="form-control" />
                <span asp-validation-for="CandidateContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefEmployee" class="control-label">Referred By<span class="required-symbol">*</span></label>
                <input asp-for="RefEmployee" class="form-control" readonly value="@username"/>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
                <a asp-controller="Admin" asp-action="AdminOpenings" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>


